Hello!  What is your name?

<form method="post" action="user_name">
	<input type="text"  name="input_name">
	<input type="submit">
</form>




<!-- I love learning how to do this!
All of this is brand new to me.

The server does not have to be restarted when you are making changes to the index.erb file.  When you make changes to the app.rb file, you have to restart the server for the changes to take place. -->

